@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
@import '~vuetify/src/stylus/main'
@require '~vuetify/src/stylus/settings/_colors'

.invalid-feedback
  color: $red.accent-2
  margin-top: -20px
  
.card .progress-linear
  height: 4px
  margin: 0
  position: absolute
  top: 0
  left: 0
  right: 0
  width: 100%
  z-index: 999999